.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

label {
    width: 5rem;
}

input {
    padding-left: 1rem;
}

boton {
    text-align: center;
}

.mensajeEnviado {
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    
}
