.botonesAgregar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
}

.agregarCarrito {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.textoCarrito {
    font-family: 'Courier New', Courier, monospace;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: .7rem;
    
}

.botonOperar {
    width: 1rem;
    height: 1rem;
}
